
<%= render 'form', task: @task %>

<!-- <input type="submit">
<form action="/tasks" method="post">
  <label for="name">Enter a name</label>
  <input type="text" placeholder="enter new task title" name="task[title]">
  <label for="address">Enter task details</label>
  <input type="text" placeholder="enter new task details" name="task[details]">
  <input type="submit">
</form>
 -->
